* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.floating-btn {
  z-index: 10;
}
@media (min-width: 1200px) {
  .main--content {
    width: 50% !important;
  }
  .about--text {
    font-size: 1.3rem;
  }
}

a.nav-link.text-dark {
  font-weight: 400 !important;
  transition: .2s ease !important;
}

a.nav-link.text-dark:hover {
  color: #DBA601 !important;
}